<!DOCTYPE html>
<html style="background-color: #000000">
<head>
	<title>RedHat | About</title>
</head>
<body>
    <h1 style="margin-left: 35%; align:center; background-color:red; width:30%; color:white; text-align: center; font-size:50px;font-family:arial">RED HAT</h1>
    <h2 style="text-align: center;font-weight: bold;color:white;font-family:arial">We are Red Hat</h2>
    <p style="margin-left: 10%; margin-right: 10%;text-align: justify;font-size:20px;color:white;font-family:arial">Our mission is to be the catalyst in communities of customers, contributors, and partners creating better technology the open source way. The world's leading provider of open source, enterprise IT solutions. More than 2 decades ago, Red Hat had a spark of an idea—a vision for developing software differently. We believed that collaboration with an ecosystem of IT leaders, open source advocates, developers, and partners could create a better foundation for the future of IT—Red Hat® Enterprise Linux®. But that was just the beginning. Today, we deliver a comprehensive portfolio of secure products and services using the same open, collaborative business model and an affordable, predictable subscription model.
    </p>
</body>
</html>
